.bestseller {
  padding: 35px 30px;

  background-color: @background;

  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
  }

  &__subtitle {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #63d1bb;
    }

  &__description {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }

  &__image {
    margin-bottom: 29px;
  }

  &__price {
    display: block;
    width: 100%;
    margin-bottom: 28px;

    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;

    text-align: center;
  }

  &__pseudo-button {
    display: block;

    text-align: center;
    text-decoration: none;
  }
}
