.bestseller {
  .container();
  margin-bottom: 35px;

  background-color: @background;

  &__title {
    margin: 0;
    margin-bottom: 5px;

    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 23px;

    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #63d1bb;
    text-transform: uppercase;
    }

  &__description {
    margin-bottom: 17px;

    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }

  &__image {
    margin-bottom: 15px;

    background-color: #f1f1f1;
  }

  &__image-layout {
    width: 260px;
    margin-right: auto;
    margin-left: auto;
  }

  &__price {
    display: block;
    width: 100%;
    margin-bottom: 26px;

    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    color: #444444;

    text-align: center;
  }

  &__pseudo-button {
    display: block;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
  }
}

@media @tablet-widths {
  .bestseller {
    .clearfix();
    margin-bottom: 11px;
    padding-left: 48px;

    &__titles {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    &__title {
      margin-top: 0;

      font-size: 43px;
      line-height: 50px;
      font-weight: 700;
    }

    &__subtitle {
      flex-basis: 65px;
      width: 65px;
      margin-right: 32px;
      padding-top: 11px;

      line-height: 17px;
      text-align: center;
    }

    &__description {
      margin-top: -9px;
      margin-bottom: 34px;

      font-size: 17px;
      line-height: 30px;
    }

    &__info {
      float: left;
      box-sizing: border-box;
      width: 50%;
      margin-bottom: 27px;
      padding-right: 50px;
   }

    &__image {
      float: right;
      width: 50%;
      min-height: 430px;
    }

    &__image-layout {
      width: 333px;
    }

    &__price-block {
      float: left;
      box-sizing: border-box;
      width: 50%;
      padding-right: 44px;
    }

    &__price {
      margin-bottom: 34px;
      padding-left: 4px;

      font-size: 20px;
    }
  }
}

@media @desktop-widths {
  .bestseller {
    position: relative;
    margin-bottom: 60px;

    &__titles {
      position: absolute;
      top: 56px;
      left: 97px;

      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    &__title {
      margin-top: -3px;

      font-size: 53px;
      line-height: 58px;
    }

    &__subtitle {
      margin-right: 59px;
      padding-top: 13px;
    }

    &__image {
      width: 50%;
      height: 636px;
    }

    &__image-layout {
      width: 525px;
    }

    &__description {
      margin-bottom: 47px;
    }

    &__price-block {
      width: 50%;
      padding-right: 58px;
      padding-left: 175px;
    }

    &__price {
      margin-left: 4px;
    }

    &__info {
      width: 50%;
      margin-top: 169px;
      margin-bottom: 80px;
      padding-left: 175px;
    }
  }
}
