.catalog-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #ececec;

  &__image-link {
    display: block;
    margin: 0 auto;

    font-size: 0;
    line-height: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 179px;
    padding: 26px 28px 29px 27px;

    background-color: #ffffff;
    border: 1px solid #f1f1f1;
  }

  &:hover &__info {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active &__info {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }

  &__title {
    width: 205px;
    margin: 0;
    margin-bottom: 4px;

    font-size: @mobile-catalog-title;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
  }

  &__title-link {
    text-decoration: none;
  }

  &__title:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &__title:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &__details {
    margin: 0;
    margin-bottom: 38px;
    font-size: @mobile-catalog-details;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
  }

  &__order {
    position: relative;

    margin-top: auto;
  }

  &__order::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;

    display: block;
    width: 100%;
    height: 1px;
    background-color: #ececec;
    }

  &__price {
    float: left;

    font-size: @mobile-catalog-price;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
  }

  &__button {
    float: right;
    width: 21px;
    height: 21px;

    font-size: 0;

    border-style: none;
    background: transparent url("../img/icon-cart.svg") center center no-repeat;
    background-size: 21px 19px;
    outline: none;
  }

  &__button:hover {
    background: transparent url("../img/icon-cart-hvr.svg") center center no-repeat;
    background-size: 21px 19px;
  }

  &__button:active {
    background: transparent url("../img/icon-cart-act.svg") center center no-repeat;
    background-size: 21px 19px;
  }
}

@media @tablet-widths {
  .catalog-item {
    flex-direction: row;
    min-height: 335px;
    margin-bottom: 53px;

    &__title {
      width: 235px;
      font-size: @mobile-catalog-title + 3;
    }

    &__details {
      font-size: @mobile-catalog-details + 2;
    }

    &__price {
      padding-left: 4px;

      font-size: @mobile-catalog-price + 2;
    }

    &__button {
      width: 28px;
    }

    &__image-link {
      margin: 0 auto;
    }

    &__info {
      width: 50%;
      min-height: 335px;
    }

    &:hover &__info {
      box-shadow: 6px 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active &__info {
      box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

@media @desktop-widths {
  .catalog-item {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    min-height: 659px;
    border-style: none;

    &__info {
      //flex-basis: 100%;
      flex-grow: 1;
      width: 100%;
      min-height: 197px;
      padding: 25px 32px 27px 26px;
    }

    &:hover &__info {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active &__info {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }

    &__title {
      margin: 0;
      margin-bottom: 5px;
    }

    &__details {
      margin: 0;
      margin-bottom: 35px;
    }

    &__table {
      margin: 0;
      margin-top: auto;
    }

    &__image-link {
      flex-shrink: 0;
      width: 100%;
      min-height: 460px;
      border-style: none;
    }

    &__price {
      margin: 0;
      padding-left: 0;
    }

    &__button {
      width: 21px;
    }
  }
}
