.catalog {
  padding-right: 30px;
  padding-left: 30px;
}

@media @tablet-widths {
  .catalog {
    margin-bottom: 53px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media @desktop-widths {
  .catalog {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 26px;
    padding-right: 0;
    padding-left: 0;
  }
}
