.communication {
  .container();
  margin-bottom: 7px;
  padding-left: 28px;

  background-color: @background;

  &__title {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }
}

@media @tablet-widths {
  .communication {
    position: relative;

    margin-bottom: 21px;
    padding: 0 50px;
    padding-left: 46px;

    &__title {
      margin: 0;
      margin-bottom: 29px;
      font-size: 43px;
      line-height: 50px;
    }

    &__title::after {
      content: "";
      position: absolute;
      top: -14px;
      right: 52px;

      width: 50px;
      height: 81px;

      background: transparent url("../img/icon-flag.svg") center center no-repeat;
     }
  }
}

@media @desktop-widths {
  .communication {
    width: 50%;
    margin: 0;
    margin-bottom: 45px;
    padding-top: 70px;
    padding-left: 166px;

    &__title {
      margin: 0;
      margin-bottom: 28px;

      font-size: 53px;
      line-height: 57px;
    }

    &__title::after {
      top: 62px;
      left: 61px;

      margin-bottom: 50px;
    }
  }
}
