.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
}

@media @tablet-widths {
  .contacts {
    padding-top: 60px;
  }
}

@media @desktop-widths {
  .contacts {
    display: block;
    max-width: 1050px;
    margin: 0 auto;
    padding-top: 71px;
    padding-bottom: 104px;

    .clearfix();
  }
}
