.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 17px;
}

@media @tablet-widths {
  .contacts {
    padding-top: 60px;
  }
}

@media @desktop-widths {
  .contacts {
    display: block;
    .container();

    padding-bottom: 104px;
    padding-top: 71px;

    .clearfix();
  }
}
