.copyright {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 30px;
    right: 30px;

    display: block;
    width: auto;
    height: 1px;

    background-color: #e5e5e5;
  }

  &__text {
    align-self: center;
    margin-right: 30px;

    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
  }

  &__link {
    flex-basis: 27px;
    font-size: 0;
    background: #f1f1f1 url("../img/logo-htmlacademy.svg") center center no-repeat;
  }
}
