.feedback-button {
  .container();
  margin-bottom: 38px;
}

@media @tablet-widths {
  .feedback-button {
    margin-bottom: 57px;
  }
}

@media @desktop-widths {
  .feedback-button {
    order: 1;

    width: 50%;
    margin: 0;
    padding-left: 105px;
  }
}
