.footer-page {
  background-color: #f1f1f1;

  &__logo {
    display: none;
  }


  &__link {
    margin: 0;
    padding: 0;
    font-size: 0;
  }

  &__link--alt {
    pointer-events: none;
    cursor: default;
  }
}

@media @tablet-widths {
  .footer-page {
    &__wrapper {
      .container();
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 144px;
    }

    &__logo {
      display: flex;
      width: 33.3%;
      padding-bottom: 8px;
    }

    &__link {
      min-width: 102px;
      min-height: 34px;

      background-color: transparent;
      background-image: url("../img/logo-footer.svg");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 102px 34px;
    }

    &__link:hover {
      background-image: url("../img/logo-footer-hvr.svg");
    }

    &__link:active {
      background-image: url("../img/logo-footer-act.svg");
    }
  }
}

@media @desktop-widths {
  .footer-page{
    padding: 0;
    clear: both;
  }
}
