.footer-page {
  background-color: #f1f1f1;

  &__logo {
    display: none;
  }
}

@media @tablet-widths {
  .footer-page {
    &__wrapper {
      .container();
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 144px;
    }

    &__logo {
      display: flex;
      width: 33.3%;
    }

    &__link {
      margin: 0;
      padding: 0;
      font-size: 0;
    }

    &__svg {
      min-width: 102px;
      min-height: 34px;

      font-size: 0;

      background-color: transparent;
      background-image: url("../img/logo-footer.svg");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 102px 34px;
    }

    &__svg:hover {
      background-image: url("../img/logo-footer-hvr.svg");
    }

    &__svg:active {
      background-image: url("../img/logo-footer-act.svg");
    }

    &__svg--alt:hover {
      background-image: url("../img/logo-footer.svg");
    }

    &__svg--alt:active {
      background-image: url("../img/logo-footer.svg");
    }
  }
}

@media @desktop-widths {
  .footer-page{
    padding: 0;
    clear: both;
  }
}
