.form-group {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left:  30px;

  &__title {
    position: relative;

    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &__footnote {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #444444;
  }

  &__btn {
    display: block;
    text-align: center;
  }
}

@media @tablet-widths {
  .form-group {
    padding-right: 0;
    padding-left: 0;

    &__title {
      flex-basis: 168px;
      width: 168px;
    }

    &__footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: baseline;

      padding-right: 50px;
      padding-left: 50px;
    }

    &__btn {
      width: 260px;
    }
  }
}

@media @desktop-widths {
  .form-group {
    padding-right: 0;
    padding-left: 0;

    &__footer {
      padding-right: 225px;
      padding-left: 225px;
    }

    &__title {
      flex-basis: 110px;
      width: 110px;
    }
  }
}
