.form-group {
    padding-top: 50px;
    padding-bottom: 50px;

  &__title {
    position: relative;

    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &__footer {
    .container();
  }

  &__footnote {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #444444;
  }

  &__btn {
    display: block;
    text-align: center;
  }
}

@media @tablet-widths {
  .form-group {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;

    &__title {
      flex-basis: 168px;
      width: 168px;

      font-size: 17px;
      line-height: 18px;
    }

    &__footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: baseline;
    }

    &__btn {
      width: 230px;
    }

    &__footnote {
      font-size: 17px;
      line-height: 18px;
    }
  }
}

@media @desktop-widths {
  .form-group {
    &__footer {
      padding-left: 225px;
      padding-right: 223px;
    }

    &__title {
      flex-basis: 110px;
      width: 110px;
    }
  }
}
