.inner-nav {

  &__item {
    position: relative;
    display: block;
    min-height: 103px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    box-sizing: border-box;

    font-size: 19px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;

    text-decoration: none;
  }

  &__item--background-interior {
    background: #63d1bb url("../img/icon-interior.svg") right center no-repeat;
    background-size: 115px 62px;
  }

  &__item--background-toys {
    background: #56c3b2 url("../img/icon-toy.svg") right center no-repeat;
    background-size: 115px 62px;
  }
}
