.inner-nav {
  margin-bottom: 28px;

  &__item {
    position: relative;
    display: block;
    min-height: 102px;
    padding-top: 24px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 28px;
    box-sizing: border-box;

    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    text-decoration: none;
  }

  &__item--background-interior {
    background: #63d1bb url("../img/icon-interior.svg") right center no-repeat;
    background-size: 115px 62px;
  }

  &__item--background-toys {
    background: #56c3b2 url("../img/icon-toy.svg") right center no-repeat;
    background-size: 115px 62px;
  }
}

@media @tablet-widths {
  .inner-nav {
    margin-top: -120px;
    margin-bottom: 46px;
    padding-left: 50px;
    padding-right: 50px;

    &__items {
      display: flex;
    }

    &__item {
      flex-basis: 50%;
      width: 50%;
      min-height: 116px;
      padding-top: 28px;
      padding-left: 34px;

      font-size: 20px;
      line-height: 30px;
    }
  }
}

@media @desktop-widths {
  .inner-nav {
    margin-top: -117px;
    margin-bottom: 71px;
    padding-left: 0;
    padding-right: 0;
  }
}
