.order-page {
  background: @background;

  &__text {
    .container();

    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
}

@media @tablet-widths {
  .order-page {
    &__text {
      margin-bottom: 0;

      font-size: 17px;
      line-height: 30px;
    }
  }
}

@media @desktop-widths {
  .order-page {
    &__text {
      width: 800px;
      margin-top: 118px;
      margin-bottom: 49px;
    }
  }
}
