.order-page {
  margin-bottom: 4px;
  background: @background;

  &__text {
    .container();
    margin-top: 21px;
    margin-bottom: 25px;

    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
}

@media @tablet-widths {
  .order-page {
    margin-bottom: 0;

    &__text {
      margin-bottom: 12px;

      font-size: 17px;
      line-height: 30px;
    }
  }
}

@media @desktop-widths {
  .order-page {
    &__text {
      width: 800px;
      margin-top: 118px;
      margin-bottom: 61px;
    }
  }
}
