.reviews {
  .container();
  position: relative;

  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
  }

  &__item-text {
    margin-bottom: 25px;

    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
  }

  &__item-author {
    margin: 0;
    margin-bottom: 5px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #444444;
  }

  &__item-nickname {
    margin: 0;
    margin-bottom: 28px;

    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
  }

  &__button {
    display: block;
    box-sizing: border-box;
    padding-right: 45px;
    padding-left: 45px;
    text-decoration: none;
    text-align: center;
  }

  &__item:nth-of-type(2),
  &__item:nth-of-type(3) {
    display: none;
  }
}

@media @tablet-widths {
  .reviews {
    min-height: 465px;
    margin-bottom: 0;
    padding-top: 76px;

    background: #ffffff url("../img/review@1x.jpg") top left no-repeat;

    &__title {
      margin-top: 0;
      margin-bottom: 49px;

      font-size: 43px;
      line-height: 50px;
    }

    &__item-text {
      margin-bottom: 57px;

      font-size: 17px;
    }

    &__button {
      position: absolute;
      top: 76px;
      right: 50px;

      width: auto;

      padding-right: 36px;
      padding-left: 35px;
    }
  }
}

@media @desktop-widths {
  .reviews {
    margin: 0 auto;
    padding-top: 70px;
    padding-left: 224px;
    padding-bottom: 45px;
    padding-right: 75px;

    background-position-x: 50px;

    &__title {
      width: 670px;

      font-size: 53px;
      line-height: 57px;
    }

    &__item-text {
      margin-bottom: 38px;
      padding-right: 80px;
    }

    &__item-nickname {
      margin-bottom: 58px;
    }

    &__item-author {
      margin-top: 38px;
    }

    &__button {
      top: 78px;
      right: 50px;
    }
  }
}

@media (min-width: 768px) and (min-resolution: 144dpi),
       (min-width: 768px) and (min-resolution: 1.5dppx) {
  .reviews {
    background: #ffffff url("../img/review@2x.jpg") top left no-repeat;
    background-size: 350px 457px;
  }
}

@media (min-width: 1150px) and (min-resolution: 144dpi),
       (min-width: 1150px) and (min-resolution: 1.5dppx) {
  .reviews {
    background: #ffffff url("../img/review@2x.jpg") top left no-repeat;
    background-size: 350px 457px;
    background-position-x: 50px;
  }
}
