.reviews {

  &__title {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
  }

  &__item-text {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
  }

  &__item-author {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }

  &__item-nickname {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
  }
}
