.social-link {
  margin-left: 14px;
  margin-right: 20px;

  font-size: 0;

  &--instagram {
    //flex-basis: 25px;
    width: 25px;
    background: #f1f1f1 url("../img/icon-insta.svg") center center no-repeat;
    background-size: 23px 22px;
  }

  &--instagram:hover {
    background: #f1f1f1 url("../img/icon-insta-hvr.svg") center center no-repeat;
    background-size: 23px 22px;
  }

  &--instagram:active {
    background: #f1f1f1 url("../img/icon-insta-act.svg") center center no-repeat;
    background-size: 23px 22px;
  }

  &--facebook {
    //flex-basis: 25px;
    width: 25px;
    background: #f1f1f1 url("../img/icon-fb.svg") center center no-repeat;
    background-size: 15px 27px;
  }

  &--facebook:hover {
    background: #f1f1f1 url("../img/icon-fb-hvr.svg") center center no-repeat;
    background-size: 15px 27px;
  }

  &--facebook:active {
    background: #f1f1f1 url("../img/icon-fb-act.svg") center center no-repeat;
    background-size: 15px 27px;
  }

  &--twitter {
    //flex-basis: 25px;
    width: 25px;
    background: #f1f1f1 url("../img/icon-twitter.svg") center center no-repeat;
    background-size: 24px 21px;
  }

  &--twitter:hover {
    background: #f1f1f1 url("../img/icon-twitter-hvr.svg") center center no-repeat;
    background-size: 24px 21px;
  }

  &--twitter:active {
    background: #f1f1f1 url("../img/icon-twitter-act.svg") center center no-repeat;
    background-size: 24px 21px;
  }
}
