.user-info {
  &__contacts {
    position: relative;
  }

  &__name {
    .container();
    display: flex;
    flex-direction: column;
  }

  &__grid {
    position: relative;
  }

  &__grid::after {
    content: "";
    position: absolute;
    bottom: 30px;
  }

  &__grid--tel::after {
    right: 8px;

    width: 25px;
    height: 25px;

    background: url("../img/icon-phone.svg") center center no-repeat;
  }

  &__grid--email::after {
    right: 4px;

    width: 32px;
    height: 22px;

    background: url("../img/icon-mail.svg") center center no-repeat;
  }

  &__contacts {
    background-color: #ffffff;
  }

  &__content {
    .container();
    display: flex;
    flex-direction: column;
  }

  &__adds {
    .container();
  }

  &__extra {
    box-sizing: border-box;
    width: 100%;
    padding: 17px 15px 17px 15px;

    resize: none;

    border: 2px solid #000000;
  }

  &__label {
    display: block;

    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #000000;
  }

  &__label:hover + &__input-text {
    border-bottom-color: #62d1ba;
  }

  &__label:active + &__input-text {
    border-bottom-color: #62d1ba;
  }

  &__input-text,
  &__input-tel,
  &__input-email {
    width: 100%;
    min-height: 40px;
    margin-bottom: 20px;

    border-style: none;
    border-bottom: 2px solid #000000;

    outline-style: none;
  }

  &__input-text:hover,
  &__input-text:active {
    border-bottom-color: #62d1ba;
  }

  &__input-tel:hover,
  &__input-email:hover,
  &__input-tel:active,
  &__input-email:active,{
    border-bottom-color: #62d1ba;
  }

  &__extra:hover,
  &__extra:active {
    outline: none;
    border-color: #62d1ba;
  }

  &__input-text::placeholder,
  &__input-tel::placeholder,
  &__input-email::placeholder,
  &__extra::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: rgba(68, 68, 68, 0.3);
  }

  &__footnote {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #444444;
  }
}

@media @tablet-widths {
  .user-info {
    padding-top: 50px;
    padding-bottom: 50px;

    &__name {
      flex-basis: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      padding-bottom: 24px;
    }

    &__name > div {
      flex-grow: 1;
    }

    &__label {
      margin-right: 25px;

      font-size: 19px;
    }

    &__grid {
      display: flex;
      align-items: baseline;

      margin-bottom: 25px;
    }

    &__contacts {
      background-color: #f1f1f1;
    }

    &__content {
      padding-top: 50px;
      padding-bottom: 25px;
    }

    &__contacts div {
      display: flex;

      background-color: #f1f1f1;
    }

    &__input-text,
    &__input-tel,
    &__input-email {
      min-height: 47px;
      margin-bottom: 0;
      padding-left: 17px;
    }

    &__input-tel,
    &__input-email {
      flex-grow: 1;

      width: auto;
      padding-right: 22px;
      padding-left: 17px;

      background-color: #f1f1f1;
    }

    &__grid--tel {
      margin-bottom: 23px;
    }

    &__grid--tel::after {
      top: 11px;
      right: 25px;
    }

    &__grid--email::after {
      top: 15px;
      right: 22px;
    }

    &__input-text::placeholder,
    &__input-tel::placeholder,
    &__input-email::placeholder,
    &__extra::placeholder {
      font-size: 19px;
    }

    &__adds {
      display: flex;
      align-items: baseline;
      padding-top: 50px;
      padding-right: 50px;
      padding-bottom: 3px;
      padding-left: 50px;
    }

    &__extra {
      flex-grow: 1;
      width: auto;
      padding-left: 15px;
      padding-bottom: 1px;
    }
  }
}

@media @desktop-widths {
  .user-info {
    padding-bottom: 39px;

    &__grid {
      margin-bottom: 10px;
      padding-right: 175px;
    }

    &__name {
      margin-bottom: 3px;
      padding-left: 110px;
    }

    &__input-text,
    &__input-tel,
    &__input-email {
      min-height: 49px;
      margin-bottom: 13px;
      padding-left: 17px;
    }

    &__grid--tel {
      margin-bottom: 10px;
    }

    &__grid--tel::after {
      right: 180px;
    }

    &__grid--email::after {
      right: 180px;
    }

    &__label {
      padding-left: 6px;
    }

    &__content {
      padding-top: 48px;
      padding-left: 111px;
    }

    &__adds {
      margin-bottom: 8px;
      padding-left: 115px;
      padding-right: 225px;
    }

    &__extra {
      padding-top: 15px;
      padding-left: 15px;
      padding-bottom: 3px;
    }
  }
}
